<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>PPC Landing Page</title>
  <link rel="stylesheet" href="PPC.css">
  <!-- Bootstrap CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- External CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
</head>

<body>
  <div>
    <h1>PPC Landing Page</h1>
  </div>
  <div class="container">
    <div class='row'>
      <div class='box col-md-6'>
        <h2> BUY A MACBOOK TODAY</h2>
        <h4>The Macbook is a Touch of Genius</h3>
      </div>
      <div class='col-md-6 row center'>
        <img class='col-md-4' id='billion' src="/images/Billion.png" alt="Billion logo">
        <div id='emi' class='btn btn-default'><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; EASY EMI OPTION
        </div>
      </div>

    </div>
    <div id='main' class='row'>
      <img id='macbook' class='col' src="/images/Macbook.png" alt="Macbook Pro">
      </div>
      <div class='row center'>
        <div class='btn btn-default options'>
          <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
          <h4>TRACK YOUR ORDER</h4>
        </div>
        <div class='btn btn-default options'>
          <i class="fa fa-refresh fa-3x" aria-hidden="true"></i>
          <h4>FREE & EASY RETURNS</h4>
        </div>
        <div class='btn btn-default options'>
          <i id='icon3' class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
          <h4>ONLINE CANCELLATIONS</h4>
        </div>
      </div>


    <div class="center" id='browse'>
      <h2>BROWSE MAC PRODUCTS AND PURCHASE TODAY</h2>
    </div>
  </div>

  <div class='container-fluid footer'>
    <div class='container'>
      <div id='brandings' class='row'>
        <div class="col-md-1">
        </div>
        <img class='brands col-md-2' src="/images/samsung.png" alt="samsung logo">
        <img class='brands col-md-2' src="/images/apple.png" alt="apple logo">
        <img class='brands col-md-2' src="/images/kitchenaid.png" alt="kitchenaid logo">
        <img class='brands col-md-2' src="/images/Nikon.png" alt="nikon logo">
        <img class='brands col-md-2' src="/images/philips.png" alt="philips logo">
        <div class="col-md-1">
        </div>
      </div>
    </div>
      <div id='tac'>
        <div class="container">
          <h5>On our website, we guarantee all year round quality offers on all the latest Luxury and High-Tech products out there. Our service enables you to purchase the best products at the most affordable prices. You can get the latest LCD screen, the latest smartphone or the latest video game console for only a few pounds. <a>Terms and conditions</a></h5>
        </div>
      </div>
    </div>


  <script type="text/javascript" src='/PPC.js'>
  </script>
</body>

</html>
