@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
body {
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #F5F5F5 !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-family: 'Pacifico', cursive !important;
  text-shadow: 0px 2px 3px #555 !important;
  font-size: 6em !important;
}

h2 {
  text-align: center;
  font-size: 3em !important;
  color: #311F1B !important;
  font-weight: 700 !important;
  margin: 2vh 0 2vh 0 !important;
}

h3 {
  text-align: left;
  font-size: small;
  font-size: 1em;
  color: #9C5E51 !important;
}

#description {
  color: rgb(117, 22, 22);
  font-size: 1.7em;
  font-family: 'Anonymous Pro', monospace;
}

p {
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  transition: 2s;
  font-size: 1.2em;
  animation: intro 3s 1 forwards;
  color: black;
  margin-bottom: 0 !important;
}

p:hover {
  background-color: #311F1B;
  transition: background-color 0.2s, color 1s;
  padding: 0.2em;
  color: white;
}

#contactMe {
  padding: 22vh 0 15vh 0;
}

.button {
  display: block;
  border-radius: 4px;
  background-color: #10053D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 3.0vh;
  padding: 1vh;
  width: 20vw;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  font-size: 5vh !important;
  position: absolute;
  opacity: 0;
  top: -1.6vh;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

button:focus {
  outline:0 !important;
}

#webApp {
  display: block;
  margin: auto;
}

#buildWeb {
  display: block;
  margin: auto;
}

#uiux {
  display: block;
  margin: auto;
}

#logo {
  z-index: 10;
  position: static;
  opacity: 1;
  margin-top: 100px;
  margin-bottom: 70px;
}

.well {
  border: 2px rgba(119, 177, 228, 0.5) solid;
}

.box {
  margin: 2vh 2vh 2vh 2vh;
  padding: 2vh !important;
  border-radius: 40px;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  background-color: white;
  display: block;
}

.parallax {
  background-image: url("/images/MainPhoto(5).jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(1px) scale(1.05);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  opacity: 1;
}

.parallax2 {
  background-color: #1c1c1c;
  height: 10vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 3vh 0 20vh 0;
}

.parallax4 {
  background-image: url("/images/blackSmoke.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 8vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  opacity: 0.5;
  transition: opacity 5s;
}

#profilePic {
  width: 600px;
  height: auto;
  border-radius: 40px;
}

@media screen and (max-width: 1300px) {
  #profilePic {
    width: 600px;
    height: auto;
    border-radius: 40px;
  }
  .box2 {
    width: auto !important;
  }
  .resizeImg {
    height: 30vh !important;
  }
}

@media screen and (max-width: 800px) {
  #profilePic {
    margin: 0 20vw 0 20vw;
    width: 400px;
    height: auto;
    border-radius: 40px;
  }
  .parallax2 {
    opacity: 1;
  }
  .box2 {
    width: auto !important;
  }
  .resizeImg {
    height: 30vh !important;
  }
}

@media screen and (max-width: 500px) {
  #profilePic {
    margin: 0 auto 0 auto;
    width: 400px;
    height: auto;
    border-radius: 40px;

  }
  .parallax {
    background-color: #1c1c1c;
    opacity: 0;
  }
  .box2 {
    width: auto !important;
  }
  .resizeImg {
    height: 35vh !important;
  }
}

#invWell {
  margin: 10vh;
}

#aboutMe {
  display: block;
  margin: auto;
  margin-top: 15vh;
  padding: 0 0 5vh 0;
}

#jamSpreadNinja {
  font-family: 'Pacifico', cursive;
}

.badge {
  padding: 6em 0 6em 0 !important;
  background-color: red;
  width: 25em;
  height: 25em;
  display:block !important;
  margin: 7em auto 5em auto;
  border-radius: 100% !important;
  vertical-align: center;
  opacity: 1;
  animation: wow 3s infinite forwards;
  border: 20px double grey;
}

@keyframes wow {
  0% {
    height: 25em;
    width: 25em;
  }
  50% {
    height: 26em;
    width: 26em;
    padding-top: 7em;
    margin-bottom: 7em;
    margin-top: 4em;
  }
  100% {
    height: 25em;
    width: 25em;
  }
}

#skillsLink, #projectLink, #contactLink {
  font-size: 1.1em;
  font-weight: 700;
}
#skillsLink:hover, #projectLink:hover, #contactLink:hover {
  color: #420d09;
  transform: scale(1.1);
}

#meLink {
  font-size: 1em;
}

#meLink:hover {
  transform: scale(1.1);
  animation: spin 0.5s 1 forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fadeIn {
  animation: fadeIn 3s 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.moveIn {
  animation: moveIn 3s 1 forwards;
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(-80vw);
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

#projects {
  margin: 0vh 0 5vh 0;
}

#projectsContainer {
  z-index: -1;
  padding:  0  0 5vh 0;
}

.nav-item, .navbar-brand {
  cursor: pointer;
}

#navbarNav {
  z-index: 100;
}

.navbar {
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.2);
  animation: appearNav 3s 1 forwards;
}

@keyframes appearNav {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.nav-item, .navbar-brand {
  margin-left: 2vw;
}

.box2 {
  border: solid 2px black;
  margin: auto;
  padding:2vh;
  background-color: white;
  border-radius: 5px;
  height: auto;
  width: 340px;
}

.resizeImg {
  height: 300px;
  width: auto;
  display: block;
  margin: auto;
  align-items: center;
  transition: all 0.5s;
}

.resizeImg:hover {
  opacity: 0.4;
  transform: scale(1.1)
}

.overlay {
  position: absolute;
  height: auto;
  width: 340px;
  opacity: 0;
  transition: .5s ease;
  z-index: 20;
}

.box2:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  box-shadow: 0 0 10px white;
}

#footer {
  background-color:#222;
}

#header {
  margin-top: 15vh;
}

.modal {
   position: fixed;
   top: 15vh !important;
   overflow: auto;
   overflow-y: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
