<!doctype html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Jam Spread Ninja</title>
  <link rel="shortcut icon" type="image/png" href='/images/logo(2).png' />
  <meta name="author" content="Gleen Lexry Alexander Wan">
  <meta name='keywords' content='Portfolio, web, web-developer, front-end, front end web developer, for hire, hiring, malaysia'>
  <meta name='description' content="This is Gleen Lexry Alexander Wan's portfolio. I am a web developer who specialises in front end development">
  <!-- link CSS -->
  <link rel='stylesheet' type='text/css' href="Portfolio.css" />
  <!-- External CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class='container'>
      <a class="navbar-brand">
    <img src='/images/bread.png' height="40" width="40" id='meLink'/>
  </a>
  <a class="navbar-brand" id='jamSpreadNinja'>Jam Spread Ninja
</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id='skillsLink'><p>Skills</p></a>
          <a class="nav-item nav-link" id='projectLink'><p>projects</p></a>
          <a class="nav-item nav-link" id="contactLink"><p>Contact</p></a>
        </div>
      </div>
    </div>
  </nav>
  <div id='me'>
  </div>
  <div class='parallax'>
  </div>
  <div class='container'>

    <div class='row' id='header'>
      <div class='col'>
        <img class='box fadeIn' src='/images/profilepic.jpg' id='profilePic' />
      </div>
      <div class='col'>
        <div class='box fadeIn' id='description'>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='badge'>
      <h1 id='skills'>Skills</h1>
    </div>
    <div class='row'>
      <div class='col box'>
        <img src='/images/Web application Icon.png' height="120" width="120" id='webApp'>
        <br />
        <h2>Build web Applications</h2>
        <br />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </h3>
      </div>
      <div class='col box'>
        <img src='/images/build website Icon.jpg' height="120" width="120" id='buildWeb' />
        <br />
        <h2>Build websites</h2>
        <br />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</h3>
      </div>
      <div class='col box'>
        <img src='/images/uxui_icon.png' height="120" width="220" id='uiux' />
        <br />
        <h2>Crazy over UI/UX</h2>
        <br />
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</h3>
      </div>
    </div>
  </div>

  <div class='container-fluid' id='projectsContainer'>
    <div class='container'>
      <div class='badge'>
        <h1 id='projects'>Projects</h1>
      </div>
      <div class='row'>
        <div class='col'>
          <div class='box2'>
            <a href='/pomodoroclock' target="_blank">
              <div class="overlay">
                <div class="text box2"> WebApp to keep me on track when working on projects. This app is Phone, tablet, laptop compatable. Acheived through Bootstrap</div>
              </div>
              <img class='resizeImg' src='/images/clockPrev.png' href='\Projects\.html' />
            </a>
          </div>
          <h2>Pomodoro Clock</h2>
        </div>
        <div class='col'>
          <div class='box2'>
            <a href='/jscalculator' target="_blank">
              <div class="overlay">
                <div class="text box2">Hello World</div>
              </div>
              <img class='resizeImg' src='/images/calcPrev.png' />
            </a>
          </div>
          <h2>Javascript Calculator</h2>
        </div>
        <div class='col'>
          <div class='box2'>
            <a href='/wikiviewer' target="_blank">
              <div class="overlay">
                <div class="text box2">Hello World</div>
              </div>
              <img class='resizeImg' src='/images/wikiPrev.png' />
            </a>
          </div>
          <h2>Wikipedia Viewer</h2>
        </div>

        <div class='col'>
          <div class='box2'>
            <a href='/showthelocalweather' target="_blank">
              <div class="overlay">
                <div class="text box2">Hello World</div>
              </div>
              <img class='resizeImg' src='/images/weatherPrev.png' />
            </a>
          </div>
          <h2>Show the Local Weather</h2>
        </div>
        <div class='col'>
          <div class='box2'>
            <a href='/randomquotemachine' target="_blank">
              <div class="overlay">
                <div class="text box2">Hello World</div>
              </div>
              <img class='resizeImg' src='/images/randomPrev.png' />
            </a>
          </div>
          <h2>Random Quote Machine</h2>
        </div>
        <div class='col'>
          <div class='box2'>
            <a href='/twitchtv' target="_blank">
              <div class="overlay">
                <div class="text box2">Hello World</div>
              </div>
              <img class='resizeImg' src='/images/twitch.png' />
            </a>
          </div>
          <h2>TwitchTV streamers</h2>
        </div>
      </div>

    </div>
  </div>

  <div class='parallax4'>
  </div>

  <div class='container-fluid' id='footer'>

    <div id='contactMe'><button class="button" data-toggle="modal" data-target="#modalContactMe"><span><a>Contact me &nbsp;</a></span></button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalContactMe">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Contact Me</h5>
          </div>
          <div class="modal-body">
            <form method='POST' action='/post'>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name='name' class="form-control" placeholder="Your name">
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" name='email' class="form-control" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Your email is safe with me <i class="fa fa-lock"></i></small>
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea type="text" name='message' class="form-control" rows='5'></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
  <!-- External JS -->
  <script src="Portfolio.js"></script>
</body>

</html>
