<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
  <title>My Javascript Calculator</title>
  <link rel='stylesheet' type="text/css" href='calc.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src='/calc.js'></script>
</head>

<body>
  <h2 id='felicia'><small>Disclaimer: This calculator is limited<br> to only 10 characters in total. <br>Designed and coded by</small> <br>Glen Lexry Alexander Wan</br></h2>
  <div class='container center'>
  <div id='calculator' class='container'>
    <h1>Javascript Calculator</h1>
    <h3 id='output'><div id='answers'>0</div></h3>
    <div class='container' id='buttons'>
    <button value = 'AC' id = 'AC'>AC</button>
    <button value = 'Del' id = 'Del'>Del</button>

    <button value = '/'>/</button>
    <button value = '*'>x</button>

    <button value = '7' class='num'>7</button>
    <button value = '8' class='num'>8</button>
    <button value = '9'>9</button>
    <button value = '-'>-</button>

    <button value = '4'>4</button>
    <button value = '5'>5</button>
    <button value = '6'>6</button>
    <button value = '+'>+</button>

    <button value = '1'>1</button>
    <button value = '2'>2</button>
    <button value = '3'>3</button>


    <button id = 'zero' value = '0' >0</button>
    <button id = 'dot' value = '.' >.</button>
    <button id = 'equals' value = '='>=</button>
    </div>
  </div>
  </div>
</body>
</html>
